export PROJECT="data-engineering-beta"
export IMAGE="image-name"
export REGION="europe-west1"
export DOCKER_REPO_NAME="my-docker-repo"
export TAG="0.1"
export IMAGE_URI=${REGION}-docker.pkg.dev/${PROJECT}/${DOCKER_REPO_NAME}/${IMAGE}:${TAG}
